<%- include ('../index/header') %>

<div class="uk-grid-small uk-animation-slide-bottom-small" uk-grid="masonry: true;">
    <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-card-body" >
            <h2>매장관리자 정보</h2>
        </div>
    </div>
    <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-card-body">
            <table class="uk-table uk-table-hover uk-table-divider uk-table-responsive">
                <thead>
                    <tr>
                        <th>아이디</th>
                        <th>사용자 이름</th>
                        <th>매장 이름</th>
                        <th>등록 시간</th>
                    </tr>
                </thead>
                <tbody id="table-data">
                <%
                    for (var i=(page*page_num)-page_num;i<(page*page_num);i++){
                        if(i>leng){
                            i++;
                        }else{
                %>            

                        <tr>
                            <td><%=buser[i].email%></td>
                            <td><%=buser[i].username%></td>
                            <td><%=buser[i].name%></td>
                            <td><%=buser[i].time%></td>
                        </tr>
                <%
                        }
                    }
                %>
                </tbody>
            </table>
            <ul class="uk-pagination uk-flex-center">
                <%
                    for(var j =0;j<buser.length/10;j++){
                %>
                    <li>
                        <a class="uk-link-heading" href=<%= j+1 %>><%= j+1 %></a>
                    </li>   
                <%     
                    }
                %>
            </ul>
        </div>
    </div>

</div>
<%- include ('../index/footer') %>